{% extends 'layouts/base.html' %}

{% block title %} Index {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style>
        #table-top{
            margin-top:6rem;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="container">
        
        <div class="row mt-5">
            
        <div class="col-xl-12 mb-5 mb-xl-0 "id="table-top">
            <h1 class="ml-3 mb-5 mt-0">Index</h1>
            <div class="card shadow">
                
            <div class="card-header border-0">
                
                <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0">Coins</h3>
                </div>
                <div class="col text-right">
                    <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
                </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">Coin name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Market Capital</th>
                    <th scope="col">24h Volume</th>
                    </tr>
                </thead>
                <tbody>
                
                {% for coin, coin_value in data.items %}
                    <tr>
                    <th scope="row">
                        <a href="/analysis/{{coin}}/" style="text-decoration: none;">{{ coin }}</a>
                    </th>
                    <td>
                        {{ coin_value.usd }} $
                    </td>
                    <td>
                        {{ coin_value.usd_market_cap}} $
                    </td>
                    <td>
                         {{ coin_value.usd_24h_vol }}
                    </td>
                    </tr>
                {% endfor %}
                </tbody>

                </table>
            </div>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}


