    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark mt-2">
      <div class="container px-4">
        <a class="navbar-brand" href="/" style="font-size:large;">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="mr-3 bi bi-graph-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
          </svg>CryptoAnalysis
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="/">
                  <img src="/static/assets/img/brand/blue.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->
          <!-- <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a target="_blank" 
                 class="nav-link nav-link-icon" 
                 href="https://github.com/creativetimofficial/argon-dashboard-django">
                <i class="ni ni-ui-04"></i>
                <span class="nav-link-inner--text">Source Code</span>
              </a>
            </li>

            <li class="nav-item">
              <a target="_blank" 
                 class="nav-link nav-link-icon" href="https://www.creative-tim.com/templates/django">
                <i class="ni ni-spaceship"></i>
                <span class="nav-link-inner--text">More Apps</span>
              </a>
            </li>

          </ul> -->
        </div>
      </div>
    </nav>
